{% load static %}<!-- Banner Area Starts -->
<section class="banner-area other-page" style="height:  30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="height:  10px;">
                <h1>{{ title }}</h1>
                <h3><a style="color: #006400;" href="/">Головна</a> <span style="color: #006400;">|</span> <a style="color: #006400;" href="/departments/">Ціни</a></h3>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->