<section class="banner-area">
        <div class="container">
            <h1 style="color: #006400;" >"Ваша усмішка -</h1>
            <h1 style="text-align: center; color: #006400;">наша пріоритетна мета!"</h1>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-5">
                    <h2>🦷Консультація🦷</h2>
                    <p>Заповніть онлайн-форму, включаючи ваше ім'я, дату народження, контактний номер телефону, електронну пошту та короткий опис вашої проблеми або потреби. Виберіть зручну дату та час. Ми надішлемо вам підтвердження запису за допомогою електронної пошти або зателефонуємо вам.</p>
                    <p>Дякуємо! <br>З повагою, Enigma-Dent</p>
                    <a href="/departments/create" class="template-btn mt-3">Записатись онлайн на прийом </a>
                </div>
            </div>
        </div>
</section>