{% load static %}
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row" >
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <a href="therapeutic"><img src="{%static 'images/blog/cat-post/cat-post-2.jpg' %}" alt="Терапевтична стоматологія"></a>
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="therapeutic"><h3>Терапевтична<br> стоматологія</h3></a>
                                <div class="border_line"></div>
                                <a href="therapeutic"><p style="color: white;">стоматологічні послуги<br> &<br>ціни</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <a href="periodontology"><img src="{%static 'images/blog/cat-post/cat-post-3.jpg' %}" alt="Пародонтологічна стоматологія"></a>
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="periodontology"><h3>Пародонтологічна <br> стоматологія</h3></a>
                                <div class="border_line"></div>
                                <a href="periodontology"><p style="color: white;">стоматологічні послуги<br> &<br>ціни</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="categories_post">
                        <a href="orthopedic"><img src="{%static 'images/blog/cat-post/cat-post-1.jpg' %}" alt="Ортопедична стоматологія"></a>
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="orthopedic"><h3>Ортопедична<br> стоматологія</h3></a>
                                <div class="border_line"></div>
                                <a href="orthopedic"><p style="color: white;">стоматологічні послуги<br> &<br>ціни</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>