{% load static %}

<section class="department-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>🦷 Послуги 🦷</h2>
                        <p>Наша стоматологічна клініка пропонує широкий спектр послуг для підтримки вашого здоров'я ротової порожнини <br> та створення красивої посмішки. <br> Ось деякі з наших основних послуг:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-slider owl-carousel">
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="{% static 'images/department6.jpg' %}" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="/departments/therapeutic"><i class='fa fa-heart-o' ></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Лікування карієсу <br> Пульпіту <br>&<br> Періодонтиту</h3>
                                <p>● Відновлення пошкоджених тканин зуба в межах емалі чи дентину-всім відомий карієс.<br>● Лікування пульпіту <br>(коли бактерії вже у пульповій камері зуба, тобто відбулось запалення нерва).<br>● Лікування періодонтиту ( запалення розповсюджується вже за межі зуба).</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="{% static 'images/department5.jpg' %}" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="/departments/"><i class='fa fa-heart-o' ></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Лікування під час вагітності та годування</h3>
                                <p>Скажімо одразу – в ідеалі необхідно при плануванні вагітності обов’язково закрити всі стоматологічні питання.<br> Не тому, що не можна буде лікуватися, а тому, що каріозні зуби  – це вогнища хронічного запалення в організмі. І цим не потрібно нехтувати.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="{% static 'images/department3.jpg' %}" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="/departments/orthopedic"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Протезування</h3>
                                <p>Протезування – це усунення косметичних дефектів зубів:<br>● Зміна кольору внаслідок флюорозу, нераціонального лікування кореневих каналів або/і відсутності необхідного <br>лікування після травми.<br>● Дефектів форми або положення окремих зубів.</p>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-img">
                                <img src="{% static 'images/department4.jpg' %}" alt="" class="img-fluid">
                                <div class="hover-state">
                                    <a href="/departments/periodontology"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                            <div class="single-department item-padding text-center">
                                <h3>Лікування захворювань пародонту</h3>
                                <p>Це цілий комплекс гігієнічних (зняття зубних відкладень), фізіотерапевтичних, медикаментозних та хірургічних процедур, шинування, і, обов'язково, раціональне протезування.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

