{% load static %}
<section class="feature-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding">
                        <img src="{% static 'images/feature1.png' %}" alt="планування лікавання зубів">
                        <h3>Експертне планування</h3>
                        <p class="pt-3">Індивідуальній підхід до випадку кожного пацієнта</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-md-0">
                        <img src="{% static 'images/feature2.png' %}" alt="Збереження природніх зубів">
                        <h3>Збереження природніх зубів</h3>
                        <p class="pt-3">Пріоритет роботи спеціалістів Enigma-Dent</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="{% static 'images/feature3.png' %}" alt="Лікування зубів під ключ">
                        <h3>Лікування <br>“під ключ”</h3>
                        <p class="pt-3">Розробка комплексного плану лікування “під ключ”</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                        <img src="{% static 'images/feature4.png' %}" alt="Краща ціна ні стоматологічні послуги">
                        <h3>Краща ціна</h3>
                        <p class="pt-3">Високоякісні послуги за новітніми технологіями</p>
                    </div>
                </div>
            </div>
        </div>
</section>