{% load static %}
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <ul>
                            <!--                        <li class="mb-2"><a href="/departments/">Ціни</a></li>-->
                            <li class="mb-2"><a href="/">Головна</a></li>
                            <li class="mb-2"><a href="/doctors/">Спеціалісти</a></li>
                            <li class="mb-2"><a href="/public_contract">Сертифікати</a></li>
                            <li class="mb-2"><a href="/elements/">Галерея</a></li>
                            <li class="mb-2"><a href="/contacts">Контакти</a></li>
                            <li class="mb-2"><a href="/licens">Ліцензія</a></li>
                            <!--                        <li class="mb-2"><a href="https://t.me/enigmadent" target="_blank" rel="noopener">Telegram @enigmadent</a></li>
                            <li class="mb-2"><a href="/privacy_policy">Політика конфіденційності</a></li>-->
                            <!--                        <li class="mb-2"><a href="/public_contract">Публічний договір</a></li>-->
                        </ul>
                    </div>
                </div>
                <!--                <div class="col col-xl-5 offset-xl-1 col-lg-6">-->
                <div class="col col-xl-3 col-lg-4 mb-4">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <ul>
                            <li class="mb-2"><a href="/departments/therapeutic">Терапевтична стоматологія</a></li>
                            <li class="mb-2"><a href="/departments/periodontology">Пародонтологічна стоматологія</a>
                            </li>
                            <li class="mb-2"><a href="/departments/orthopedic">Ортопедична стоматологія</a></li>

                            <li class="mb-2"><a href="/response_create" target="_blank">Залишити
                                відгук на Сайті</a></li>
                            <!--                            <li class="mb-2"><a href="https://g.page/r/CTQFYWSSJqerEBE/review" target="_blank">Залишити-->
                            <!--                                відгук на-->
                            <!--                                Google</a></li>-->
                            <li class="mb-2"><a href="https://t.me/enigmadent" target="_blank" rel="noopener">Telegram @enigmadent</a></li>
                            <li class="mb-2"><a href="/privacy_policy">Політика конфіденційності</a></li>
                            <li class="mb-2"><a href="/public_contract">Публічний договір</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="single-widge-home text-center">
                        <h3 class="mb-4"><a href="https://www.instagram.com/enigma.dent"
                                            target="_blank">INSTAGRAM</a>
                        </h3>
                        <div class="feed">
                            <a href="https://www.instagram.com/enigma.dent" target="_blank"><img
                                    src="{% static 'images/feed1.jpg' %}" alt="feed"></a>
                            <a href="https://www.instagram.com/enigma.dent" target="_blank"><img
                                    src="{% static 'images/feed2.jpg' %}" alt="feed"></a>
                            <a href="https://www.instagram.com/enigma.dent" target="_blank"><img
                                    src="{% static 'images/feed3.jpg' %}" alt="feed"></a>
                            <a href="https://www.instagram.com/enigma.dent" target="_blank"><img
                                    src="{% static 'images/feed4.jpg' %}" alt="feed"></a>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <div class="single-widge-home text-center">
                        <h3 class="mb-4"><a href="https://www.instagram.com/enigma.dent"
                                            target="_blank">FACEBOOK</a>
                        </h3>
                        <div class="feed">
                            <a href="https://www.facebook.com/profile.php?id=61556733705667" target="_blank"><img
                                    src="{% static 'images/feed5.jpg' %}" alt="feed"></a>
                            <a href="https://www.facebook.com/profile.php?id=61556733705667" target="_blank"><img
                                    src="{% static 'images/feed6.jpg' %}" alt="feed"></a>
                            <a href="https://www.facebook.com/profile.php?id=61556733705667" target="_blank"><img
                                    src="{% static 'images/feed7.jpg' %}" alt="feed"></a>
                            <a href="https://www.facebook.com/profile.php?id=61556733705667" target="_blank"><img
                                    src="{% static 'images/feed8.jpg' %}" alt="feed"></a>
                        </div>
                    </div>
                </div>

                <div class="col col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <ul>
                            <li class="mb-2"><a href="/departments/create" target="_blank" class="template-btn mt-3"
                                                style="width: 200px">Записатись
                                на прийом </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                        <span>
                            Стоматологічний кабінет <i class="fa fa-heart-o" aria-hidden="true"></i> <a
                                href="https://www.google.com/maps/place/%D0%95%D0%BD%D1%96%D0%B3%D0%BC%D0%B0-%D0%94%D0%B5%D0%BD%D1%82/@50.479999,30.4062,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cdd815ccd575:0xaba7269264610534!8m2!3d50.479999!4d30.4062!16s%2Fg%2F11fk1sl7j8?entry=ttu"
                                target="_blank">Enigma-Dent</a> &copy; 2004 - 2026
                        </span>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=61556733705667" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/enigma.dent" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://t.me/enigmadent" target="_blank" rel="noopener"><i class="fa fa-telegram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>