<section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Консультація та запис</h2>
                    <span class="mr-2 text-wrap">(044) – 422 18 76</span><br>
                    <span class="mr-2 text-wrap">(066) – 209 04 09 (viber)</span><br>
                    <span class="mr-2 text-wrap">enigma.dent2004@gmail.com</span><br>
                    <p class="pt-3">Кабінет надає консультацію лише в робочі дні <br>Пн-Пт 9:00 - 18:30</p>
                </div>
            </div>
        </div>
</section>