{% load static %}
<section class="specialist-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2> 🦷 Наша команда 🦷</h2>
                        <p>Наші стоматологи - експерти з посмішок! <br> Вони мають розширені знання і досвід, щоб забезпечити<br> вам найкращий догляд за зубами. Відповідальні, уважні, <br>та завжди готові допомогти вам з усмішкою на обличчі. <br>Довіртеся нашим професіоналам для впевненості в вашій посмішці!</p>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 100%">
                <div class="col-lg-3 col-sm-6 mx-auto">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/doctor2.jpg' %}" alt="Семенюк Тетяна Валентинівна" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Семенюк Тетяна Валентинівна</h3>
                                <h6>ЛІКАР - СТОМАТОЛОГ - ТЕРАПЕВТ</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Досвід з 2005 р.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="https://www.facebook.com/profile.php?id=100005208317901" target="_blank"><i class="fa fa-facebook"></i><a></li>-->
<!--&lt;!&ndash;                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>&ndash;&gt;-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mx-auto">
                    <div class="single-doctor mb-4 mb-lg-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/doctor1.jpg' %}" alt="КОРОЛЬОВА НІНА СЕРГІЇВНА" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>КОРОЛЬОВА НІНА СЕРГІЇВНА</h3>
                                <h6>ЛІКАР - СТОМАТОЛОГ - ТЕРАПЕВТ</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Досвід з 2003 р.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="https://www.facebook.com/profile.php?id=100007568715592" target="_blank"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="https://www.instagram.com/nina_korolyova_stom/?hl=uk" target="_blank"><i class="fa fa-instagram"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mx-auto">
                    <div class="single-doctor mb-4 mb-sm-0">
                        <div class="doctor-img">
                            <img src="{% static 'images/doctor6.jpg' %}" alt="Філонова Вікторія Володимірівна" class="img-fluid">
                        </div>
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Філонова Вікторія Володимірівна </h3>
                                <h6>Медична сестра</h6>
                            </div>
                            <div class="doctor-text text-center">
                                <p>Досвід з 2014 р.</p>
<!--                                <ul class="doctor-icon">-->
<!--                                    <li><a href="#"><i class="fa fa-facebook"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-twitter"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-linkedin"></i><a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-pinterest"></i><a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>