{% load static %}
<section class="welcome-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="welcome-img">
                    <img src="{% static 'images/welcome.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="welcome-text mt-5 mt-lg-0">
                    <h2 style="color: #006400;">Ласкаво просимо до стоматологічного кабінету <br> Enigma-Dent </h2>
                    <p class="pt-3">Засновані у 2004 році, ми з пишанням служимо нашим пацієнтам, надаючи високоякісні
                        стоматологічні послуги з дотриманням найвищих стандартів. За ці роки ми стали не тільки вашими
                        лікарями, а й сім'єю, яка дбає про ваше здоров'я.</p>
                    <p> З нетерпінням чекаємо вашого візиту і можливості допомогти вам здобути здорову посмішку!</p>
                    <a href="{% url 'create' %}" class="template-btn mt-3">Записатись на прийом</a>
                    <!--                        <a href="response_create" class="template-btn mt-3">Залишити відгук</a>-->
                    <!--                        <a href="https://g.page/r/CTQFYWSSJqerEBE/review" class="template-btn mt-3">Залишити відгук на Google</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/chear2_thumb.jpg ' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Ласкаво просимо в стоматологічний кабінет <b style="color: #6ebccc;">«Енігма-Дент»</b>, де ми
                            не тільки лікуємо, але й турбуємося про кожного пацієнта, надаючи індивідуальний та
                            комплексний підхід. Наші висококваліфіковані фахівці володіють вищими категоріями та
                            здатні надати повний спектр стоматологічних послуг.</p>
                        <p>Ми розуміємо, що кожен пацієнт унікальний, і тому ми створюємо індивідуальні плани лікування,
                            враховуючи ваші потреби та бажання. Наші фахівці спеціалізуються в терапевтичному,
                            пародонтологічному та ортопедичному лікуванні, щоб забезпечити повний спектр стоматологічної
                            допомоги під одним дахом.</p>


                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right">Окрім високоякісного медичного обслуговування, ми горді тим, що наші ціни
                            є дуже помірними та доступними. У <b style="color: #6ebccc;">«Енігма-Дент»</b> ми вважаємо,
                            що кожен заслуговує на здоров'я та гарну усмішку, тому ми робимо все можливе, щоб наші
                            послуги були доступними для кожного.</p>
                        <p class="text-right">Гарантія якості - наше завдання. Кожна надана нами послуга відповідає
                            найвищим міжнародним стандартам якості, забезпечуючи нашим пацієнтам впевненість у тому, що
                            вони отримують найкраще лікування.</p>
                        <p class="text-right">Ми віримо, що в догляді за вашими зубами не повинно бути компромісів.
                            Обирайте <b style="color: #6ebccc;">«Енігма-Дент»</b> для найкращого стоматологічного
                            досвіду, де ваша усмішка - наша гордість!
                        </p>

                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/chear2_thumb.png ' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
</section>
