{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container par">
        <h2 class="text-heading title_color">Публічний договір про надання медичних послуг</h2>
        <h3 class="text-heading title_color">1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h3>
        <p class="sample-text">1.1. У цьому Публічному договорі про надання медичних послуг терміни вживаються у
            наступних значеннях:</p>
        <p class="sample-text"><b style="color: #6ebccc;">Виконавець</b> – ТОВ «Енігма-Дент».</p>
        <p class="sample-text"><b style="color: #6ebccc;">Замовник</b> – особа, що уклала з Виконавцем даний Публічний
            договір про надання
            медичних послуг.</p>
        <p class="sample-text"><b style="color: #6ebccc;">Підтверджуючі дії</b> – дії, що свідчать про згоду
            дотримуватися Договору та положень,
            викладених на Сайті Виконавця та у цьому Договорі. Такими діями можуть вважатися: реєстрація Пацієнта на
            Сайті Виконавця, замовлення послуг з використанням Сайту Виконавця, початок фактичного використання медичних
            послуг, оплата медичних послуг чи інші дії, які свідчать про згоду Замовника із умовами даного Договору.</p>
        <p class="sample-text"><b style="color: #6ebccc;">Послуги (медичні послуги)</b> – комплекс консультативних,
            діагностичних, лікувальних,
            профілактичних та реабілітаційних заходів різного ступеню складності та призначення, які надаються
            Виконавцем за умовами цього Договору. Перелік послуг, їх вартість та інша інформація щодо них викладені на
            Сайті Виконавця та безпосередньо у місцях провадження діяльності Виконавця.</p>
        <p class="sample-text"><b style="color: #6ebccc;">Сайт Виконавця</b> – веб-сайт Виконавця у мережі Інтернет, що
            розміщений за адресою:
            <u style="color: #6ebccc;">enigma-dent.com.ua</u></p>
        <p class="sample-text"><b style="color: #6ebccc;">Сторони</b> – спільне найменування Замовника і Виконавця при
            одночасному їх згадуванні
            у даному Договорі.</p>
        <p class="sample-text">1.2. Цей Публічний договір про надання медичних послуг (надалі – «Договір») є публічним і
            визначає умови та правила надання Виконавцем Замовнику медичних послуг та укладається на невизначений строк.
            Умови даного Договору є однаковими для всіх споживачів, беззастережне прийняття умов якого (замовлення
            та/або оплата медичних послуг Замовником та/або вчинення інших Підтверджуючих дій) вважається акцептом
            даного Договору Замовником та засвідчує факт його укладення.</p>
        <p class="sample-text">1.3. Договір є обов’язковим для виконання Виконавцем з моменту його оприлюднення на Сайті
            Виконавця, а для Замовника – з моменту, що настав раніше: здійснення замовленни та/або оплати послуг за
            Договором або фактичного початку надання послуг. Договір вважається укладеним у момент прийняття Замовником
            його умов (вчинення Підтверджуючих дій).</p>
        <p class="sample-text">1.4. Умови Договору визначаються Виконавцем самостійно та у відповідності до чинного
            законодавства України. Договір та/або його окремі положення можуть бути змінені Виконавцем з обов’язковим
            повідомленням про це Замовника шляхом опублікування на Сайті Виконавця.</p>
        <p class="sample-text">У разі незгоди Замовника зі змінами, внесеними до Договору, Замовник зобов’язаний
            розірвати Договір у триденний строк з моменту опублікування таких змін на Сайті Виконавця, письмово
            повідомивши про це Виконавця. Нерозірвання Договору та продовження користування послугами свідчить про згоду
            Замовника з внесеними до Договору змінами.</p>
        <p class="sample-text">1.5. Укладенням Договору Замовник підтверджує, що він ознайомлений і згоден з умовами
            Договору та Прейскурантом цін Виконавця, що розміщений на Сайті Виконавця, а також надає свою згоду на збір
            та обробку своїх персональних даних в порядку, визначеному чинним законодавством України.</p>
        <p class="sample-text">1.6. У разі укладення між Замовником і Виконавцем приватно-правового (індивідуального)
            договору про надання медичних послуг, переважну силу мають умови приватно-правового договору.</p>
        <p class="sample-text"></p>
    </div>


    <div class="container par">
        <h3 class="text-heading title_color">2. ПРЕДМЕТ ДОГОВОРУ</h3>
        <p class="sample-text">2.1. За цим Договором Виконавець зобов’язується надати медичні послуги Замовнику, а
            Замовник зобов’язується оплатити їх у порядку та на умовах, визначених даним Договором.</p>
        <p class="sample-text">2.2. Перелік та вартість медичних послуг визначається у відповідності до Прейскуранту цін
            Виконавця, що розміщений на Сайті Виконавця та безпосередньо у місцях провадження діяльності Виконавця.</p>
    </div>


    <div class="container par">
        <h3 class="text-heading title_color">3. ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН</h3>
        <p class="sample-text">3.1. Виконавець зобов’язаний:</p>
        <div class="">
            <ul class="unordered-list">
                <li>надавати Замовнику своєчасно, якісно та в повному обсязі медичні послуги, які є предметом цього
                    Договору;
                </li>
                <li>оформляти надані Замовнику медичні послуги та зберігати медичну документацію, оформлену в процесі
                    надання послуг за цим Договором, у відповідності до вимог чинного законодавства України;
                </li>
                <li>надавати Замовнику медичну документацію та інформацію, а також усі супутні документи, оформлені в
                    процесі надання медичних послуг за цим Договором, у межах і порядку, визначених чинним
                    законодавством України;
                </li>
                <li>забезпечити Замовника кваліфікованим медичним персоналом;</li>
                <li>надавати медичні послуги на працюючому та справному обладнанні та з використанням якісних медичних
                    препаратів, які застосовуються для надання послуг;
                </li>
                <li>здійснювати запис на прийом Замовника на підставі відповідного звернення Замовника (запису на
                    прийом) на Сайті Виконавця.
                </li>
            </ul>
        </div>
        <p class="sample-text">3.2. Виконавець має право:</p>
        <ul class="unordered-list">
            <li>внести зміни до Прейскуранту цін, повідомивши Замовника про такі зміни шляхом розміщення інформації на
                Сайті Виконавця або іншим доступним способом;
            </li>
            <li>відмовити у наданні медичних послуг Замовнику при пред’явлені Замовником неповних та/або недостовірних
                даних про свою особу медичному персоналу Виконавця, а також у разі наявності заборгованості Замовника
                перед Виконавцем за надані медичні послуги;
            </li>
            <li>не розпочинати процедуру надання медичних послуг у випадку відсутності належного підтвердження виконання
                Замовником зобов’язань з передоплати медичних послуг (у випадку, якщо послуги надаються на умовах
                передоплати) та/або погашення заборгованості за раніше надані медичні послуги (у випадку наявності такої
                заборгованості).
            </li>
        </ul>
        <p class="sample-text">3.3. Замовник зобов’язаний:</p>
        <ul class="unordered-list">
            <li>записатись на прийом на сайті Виконавця у визначений дату та час;
            </li>
            <li>з’явитися до місця надання медичних послуг в погоджений із Виконавцем час;
            </li>
            <li>приймати надані Виконавцем належним чином медичні послуги, які є предметом даного Договору;
            </li>
            <li>своєчасно та у повному обсязі оплачувати медичні послуги, які є предметом цього Договору, у визначеному
                даним Договором порядку;
            </li>
            <li>неухильно дотримуватись призначеного Виконавцем лікування та/або обстеження, правил внутрішнього
                розпорядку медичних закладів та інших вимог, що забезпечують якісне та своєчасне надання медичних
                послуг;
            </li>
            <li>у разі замовлення медичних послуг для своєї дитини, забезпечити супровід дитини в процесі надання
                медичних послуг, а також належне та своєчасне виконання дитиною призначеного Виконавцем лікування та/або
                обстеження;
            </li>
            <li>негайно повідомити Виконавця про виявлені недоліки в процесі отримання Замовником медичних послуг, які є
                предметом цього Договору, шляхом звернення до Виконавця зі скаргою на ім’я керівника підрозділу, в якому
                надавались медичні послуги. В протилежному випадку Виконавець не несе відповідальності за негативні
                наслідки, які можуть мати місце в результаті неповідомлення/несвоєчасного повідомлення про такі
                недоліки.
            </li>
        </ul>
        <p class="sample-text">3.4. Замовник має право:</p>
        <ul class="unordered-list">
            <li>вимагати від Виконавця своєчасного та якісного надання медичних послуг за цим Договором;
            </li>
            <li>ознайомлюватись з медичною документацією та інформацією, оформленою в процесі надання медичних послуг за
                цим Договором, у відповідності до чинного законодавства України. Порядок ознайомлення з медичною
                документацію затверджується Виконавцем.
            </li>
            <li>отримувати від Виконавця медичну інформацію про стан свого здоров’я у порядку, передбаченому чинним
                законодавством України;
            </li>
            <li>достроково розірвати Договір у разі невиконання зобов’язань Виконавцем та в інших передбачених даним
                Договором випадках, повідомивши про це письмово Виконавця.
            </li>
        </ul>
    </div>

    <div class="container par">
        <h3 class="text-heading title_color">4. ВАРТІСТЬ ПОСЛУГ ТА ПОРЯДОК РОЗРАХУНКІВ</h3>
        <p class="sample-text">4.1. Вартість медичних послуг визначається у Прейскуранті цін Виконавця, що діє на дату
            оплати медичних послуг та розміщений на Сайті Виконавця.</p>
        <p class="sample-text">4.2. Оплата послуг за Договором здійснюється у розмірі 100% ціни відповідної медичної
            послуги згідно Прейскуранту цін Виконавця одним із наступних способів:</p>
        <ul class="unordered-list">
            <li><b style="color: #6ebccc;">авансовим (попереднім) платежем</b> (шляхом перерахування грошових коштів у
                національній валюті України на банківський рахунок Виконавця за допомогою онлайн-платежів з
                використанням платіжних засобів, доступ до яких забезпечено на Сайті Виконавця, та відповідно до правил
                платіжної системи);
            </li>
            <li><b style="color: #6ebccc;">в день фактичного надання медичних послуг</b> (шляхом внесення грошових
                коштів у національній валюті України в касу Виконавця чи іншим способом, не забороненим чинним
                законодавством України), якщо інше не передбачено приватно-правовим договором про надання медичних
                послуг, укладеним між Сторонами.
            </li>
        </ul>
        <p class="sample-text">4.3. Замовник має право збільшити розмір передплати шляхом внесення додаткового авансу
            (передоплати) з використанням платіжних засобів, доступ до яких забезпечено на Сайті Виконавця.</p>
        <p class="sample-text">4.4. У разі відмови Замовника від отримання фактично оплачених медичних послуг, але не
            менше ніж за 10 (десять) годин до моменту початку їх фактичного надання, кошти повертаються Замовнику у
            порядку, визначеному цим Договором. У разі відмови Замовника менше, ніж за 10 (десять) годин до моменту
            фактичного надання послуг, кошти Замовнику не повертаються.</p>
        <p class="sample-text">4.5. Повернення коштів здійснюється на підставі письмової заяви Замовника, в якій
            Замовник повинен вказати свої паспортні дані і додати до вказаної заяви копію паспорта та чек або квитанцію.
            У разі відсутності чеку або квитанції Виконавець має право відмовити Замовнику у поверненні грошових коштів,
            сплачених на виконання даного Договору.</p>
        <p class="sample-text">4.6. Повернення грошових коштів, сплачених за допомогою платіжних систем на Сайті
            Виконавця, здійснюється у порядку, встановленому п. 4.5. цього Договору, та з урахуванням строків та правил
            відповідних платіжних систем.</p>
    </div>

    <div class="container par">
        <h3 class="text-heading title_color">5. ПОРЯДОК НАДАНННЯ ПОСЛУГ</h3>
        <p class="sample-text">5.1. Медичні послуги надаються за фактичним місцем провадження діяльності Виконавця, що
            погоджується Сторонами при записі Замовника на прийом.</p>
        <p class="sample-text">5.2. В разі, якщо Замовник протягом 1 (одного) робочого дня з дати фактичного отримання
            послуг не надасть письмову мотивовану відмову від прийняття медичних послуг, послуги вважаються прийнятими
            Замовником без застережень і без претензій.</p>
        <p class="sample-text">5.3. У разі надання мотивованої відмови Замовника від приймання медичних послуг, Сторони
            вирішують спірні питання шляхом переговорів.</p>
    </div>

    <div class="container par">
        <h3 class="text-heading title_color">6. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h3>
        <p class="sample-text">6.1. За невиконання або неналежне виконання зобов’язань за цим Договором Сторони несуть
            відповідальність, встановлену даним Договором та чинним законодавством України.</p>
        <p class="sample-text">6.2. У разі порушення Замовником строків оплати медичних послуг, Замовник сплачує
            Виконавцю пеню у розмірі подвійної облікової ставки НБУ від суми заборгованості за кожний календарний день
            прострочення, а за прострочення на понад 30 (тридцять) календарних днів, Замовник за вимогою Виконавця
            повинен додатково сплатити останньому штраф у розмірі суми заборгованості.</p>
        <p class="sample-text">6.3. Виконавець не несе відповідальності без вини, а також за шкоду, заподіяну здоров’ю
            Замовника, яка виникла в процесі надання медичних послуг за цим Договором в результаті:</p>
        <ul class="unordered-list">
            <li>неявки чи несвоєчасної явки Замовника на заплановані візити чи контрольні медичні огляди;
            </li>
            <li>дострокового припинення Замовником призначеного лікування (обстеження тощо);
            </li>
            <li>дострокового припинення даного Договору з ініціативи Замовника;
            </li>
            <li>неповідомлення або несвоєчасного повідомлення Замовником істотних відомостей про стан свого здоров’я, у
                т. ч. наявність алергічних чи інших специфічних реакцій на медичні препарати, атипову побудову органів
                чи їх систем, наявність захворювань, які становлять загрозу для оточуючих та медперсоналу;
            </li>
            <li>недотримання Замовником приписів та рекомендацій лікарів Виконавця та/або порушення лікувального режиму.
            </li>
        </ul>
        <p class="sample-text">6.4. Виконавець не несе відповідальності за розголошення інформації, наданої Замовником
            під час використання Сайту Виконавця, якщо таке розголошення сталося внаслідок обставин, які не залежали від
            волі Виконавця та не могли бути попереджені чи уникнені ним (зокрема, внаслідок хакерських атак,
            перехоплення інформаційних даних Сайту Виконавця, розміщення конфіденційної інформації Замовником на
            зовнішніх інформаційних ресурсах та/або веб-сайтах тощо).</p>
        <p class="sample-text">6.5. Виконавець не несе відповідальності у випадку отримання третіми особами будь-якої
            інформації про Замовника шляхом отримання ними доступу до вказаної Замовником адреси електронної пошти та
            номеру телефону. У випадку настання будь-яких змін у даних Замовника (в тому числі адреси електронної пошти
            та номеру телефону) Замовник зобов’язується негайно письмово повідомити про це Виконавця, а у випадку
            неповідомлення несе ризики настання всіх пов’язаних з цим негативних наслідків.</p>
        <p class="sample-text">6.6. Сторони звільняються від відповідальності за невиконання або неналежне виконання
            своїх зобов’язань за цим Договором, якщо це невиконання стало наслідком дії обставин непереборної сили, які
            виникли після підписання цього Договору і яких Сторона не могла уникнути і передбачити. До таких обставин
            Сторони відносять: стихійні лиха (бурі, циклони, землетруси та інші природні і кліматичні явища); війну і
            воєнні дії, масові заворушення, страйки, акції протесту; технологічні фактори (відсутність електроенергії,
            пошкодження апаратури, аварії, пожежі тощо), дії або бездіяльність державних органів та органів місцевого
            самоврядування, зміни в законодавстві, що регулює правовідносини Сторін за даним Договором та інші
            обставини, які перешкоджають виконанню Сторонами своїх договірних зобов’язань і які не піддаються їх
            контролю.</p>
        <p class="sample-text">6.7. При настанні обставин, визначених у п. 6.6. даного Договору, Сторона, для якої вони
            настали, зобов’язана не пізніше ніж у семиденний строк з дати їх виникнення письмово повідомити про це іншу
            Сторону. Належним підтвердженням факту настання та строку дії форс-мажорних обставин є документ, виданий
            Торгово-промисловою палатою України або іншим уповноваженим органом у встановленому законодавством
            порядку.</p>
    </div>

    <div class="container par">
        <h3 class="text-heading title_color">7. ІНШІ УМОВИ</h3>
        <p class="sample-text">7.1. Кожна із Сторін зобов’язана забезпечити сувору конфіденційність інформації,
            отриманої від іншої Сторони при укладенні та виконанні умов цього Договору. Передача зазначеної інформації
            третім особам, її опублікування або розголошення будь-яким іншим способом може мати місце лише за письмовим
            погодженням обох Сторін, незалежно від причин і дати припинення Договору, крім випадків, передбачених чинним
            законодавством України.</p>
        <p class="sample-text">7.2. Сторони погодилися на ведення запису телефонних розмов та можливість посилання на їх
            у разі виникнення спорів, а також при врегулюванні конфліктних ситуацій за Договором.</p>
        <p class="sample-text">7.3. Виконавець докладає максимально можливу кількість зусиль для того, щоб інформація,
            розміщена на даному сайті, була актуальною і корисною на момент її публікації і не несе відповідальності,
            пов’язаної з використанням даної інформації, в результаті можливих неточностей, помилок і упущень.
            Виконавець не несе матеріальної та іншої відповідальності за навмисний або ненавмисний збиток, який може
            виникнути в результаті використання інформації, розміщеної на Сайті Виконавця, яка може перестати бути
            актуальною, може бути не повною, містити технічні чи граматичні неточності. Виконавець має право без
            попереднього повідомлення вносити зміни та доповнення в послуги Виконавця і іншу інформацію, розміщену на
            Сайті Виконавця. Відвідувачі сайту можуть переходити за гіперпосиланнями на зовнішні інформаційні ресурси і
            / або веб-сайти. Розміщення гіперпосилання не мають на увазі зв’язку між Виконавцем і зовнішніми ресурсами.
            Виконавець не несе ніякої відповідальності за зміст, коректність, легальність та достовірність інформації,
            розміщеної на зовнішніх ресурсах.</p>
        <p class="sample-text">7.4. Малолітні, неповнолітні чи недієздатні пацієнти приймаються лише у присутності їх
            законних представкників. Законні представники надають згоду на надання медичних послуг особам, в інтересах
            яких вони діють. У такому випадку законні представники виступають Замовником даного Договору та
            зобов’язуються дотримуватись умов, викладених у ньому.</p>
    </div>


</section>


{% endblock content %}