{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

{% include '_fragments/Banner Area End.html' %}

<div>
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <div class="progress-table-wrap">
                    <p class="country">Прайс від 04.10.2024</p>
                    <p class="country"><a style="color: #008000;" href="{% static 'file/Ортопедія-04.10.2024.pdf' %}"
                                          download>Завантажити прайс </a></p>
                    <ul class="progress-table">
                        <li class="table-head" style="background-color: #AFEEEE">
                            <p class="serial">№</p>
                            <p class="country">Найменування послуг</p>
                            <p class="visit">Вартість</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">300</p>
                            <p class="country">Зняття штампованої коронки</p>
                            <p class="visit">300 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">301</p>
                            <p class="country">Зняття коронки: суцільнолитої, металокерамічна</p>
                            <p class="visit">400 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">302</p>
                            <p class="country">Зняття коронки: металопластмаси </p>
                            <p class="visit">400 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">303</p>
                            <p class="country">Цементування коронки яка виготовлена в іншому закладі </p>
                            <p class="visit">350 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">303</p>
                            <p class="country">Цементування коронки яка виготовлена в іншому закладі </p>
                            <p class="visit">350 грн.</p>
                        </li>

                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">304</p>
                            <p class="country">Цементування коронки після гарантійного строку</p>
                            <p class="visit">300 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">305</p>
                            <p class="country">Препарування одного зуба під коронку</p>
                            <p class="visit">100 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">306</p>
                            <p class="country">Зняття відбитків ложками</p>
                            <p class="visit">700 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">307</p>
                            <p class="country">Зняття відбитків ложками під вкладки </p>
                            <p class="visit">800 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">308</p>
                            <p class="country">Виготовлення суцільнолитої коронки з фіксацією</p>
                            <p class="visit">2100 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">309</p>
                            <p class="country">Виготовлення суцільнолитої коронки з напиленням </p>
                            <p class="visit">2300 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">310</p>
                            <p class="country">Виготовлення металокерамічної коронки, фіксація </p>
                            <p class="visit">3200 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">311</p>
                            <p class="country">Підготовка каналу під культову вкладку</p>
                            <p class="visit">100 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">312</p>
                            <p class="country">Зняття відбитків під одну культеву вкладку</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">313</p>
                            <p class="country">Виготовлення та фіксація культевої вкладки</p>
                            <p class="visit">900 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">314</p>
                            <p class="country">Виготовлення та фіксація розбірної вкладка</p>
                            <p class="visit">1000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">315</p>
                            <p class="country">Виготовлення та фіксація вкладки з опаком</p>
                            <p class="visit">1200 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">316</p>
                            <p class="country">Зняття відбитків під знімне протезування</p>
                            <p class="visit">700 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">317</p>
                            <p class="country">Зняття відбитків індивідуальною ложкою, фіксація прикусних блоків, 1
                                щелепа </p>
                            <p class="visit">750 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">318</p>
                            <p class="country">Бюгель на кламєрах</p>
                            <p class="visit">12000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">319</p>
                            <p class="country">Ацеталовий протез</p>
                            <p class="visit">11000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">320</p>
                            <p class="country">Телескопічний ковпачок</p>
                            <p class="visit">1800 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">321</p>
                            <p class="country">Тимчасова коронка</p>
                            <p class="visit">1000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">322</p>
                            <p class="country">Фрезерована тимчасова коронка</p>
                            <p class="visit">1200 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">323</p>
                            <p class="country">Відновлення акрилового протезу, тріщина</p>
                            <p class="visit">1200 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">324</p>
                            <p class="country">Відновлення м'якого протезу</p>
                            <p class="visit">1500 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">325</p>
                            <p class="country">Частково змінний акриловий протез </p>
                            <p class="visit">9000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">326</p>
                            <p class="country">Повний змінний акриловий протез</p>
                            <p class="visit">10000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">327</p>
                            <p class="country">Нейлоновий протез</p>
                            <p class="visit">10000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">328</p>
                            <p class="country">Мікропротез акриловий</p>
                            <p class="visit">4000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">329</p>
                            <p class="country">Мікропротез м’який </p>
                            <p class="visit">4500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">330</p>
                            <p class="country">Мікропротез акриловий, додавання додаткового зуба </p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">331</p>
                            <p class="country">Без металева кераміка Е-мах</p>
                            <p class="visit">7000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">332</p>
                            <p class="country">Кераміка на основі цирконія</p>
                            <p class="visit">7000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">333</p>
                            <p class="country">Суцільно цирконієва коронка</p>
                            <p class="visit">7000 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">334</p>
                            <p class="country">Виготовлення силіконової каппи м’яка (бруксизм)</p>
                            <p class="visit">1500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">335</p>
                            <p class="country">Виготовлення силіконової каппи жорстка (бруксизм)</p>
                            <p class="visit">1800 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #E0FFFF">
                            <p class="serial">336</p>
                            <p class="country">Виготовлення силіконової каппи для відбілювання</p>
                            <p class="visit">1800 грн.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}