{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

{% include '_fragments/Banner Area End.html' %}

<div>
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <div class="progress-table-wrap">
                    <p class="country">Прайс від 04.10.2024</p>
                    <p class="country"><a style="color: #008000;" href="{% static 'file/Пародонтотогія-04.10.24.pdf' %}"
                                          download>Завантажити прайс </a></p>
                    <div class="progress-table">
                        <li class="table-head" style="background-color: #3CB371">
                            <p class="serial">№</p>
                            <p class="country">Найменування послуг</p>
                            <p class="visit">Вартість у грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">200</p>
                            <p class="country">Шинування 2-х зубів</p>
                            <p class="visit">1800 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">201</p>
                            <p class="country">Шинування 4-х зубів</p>
                            <p class="visit">2300 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">202</p>
                            <p class="country">Шинування кожного наступного зуба</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">203</p>
                            <p class="country">Корекція шини 1-го зуба</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">203</p>
                            <p class="country">Корекція шини 1-го зуба</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">204</p>
                            <p class="country">Пародонтологічна пов’язка (6-8 зібів)</p>
                            <p class="visit">600 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">205</p>
                            <p class="country">Пародонтологічна одна щелепа</p>
                            <p class="visit">800 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">206</p>
                            <p class="country">Видалення гіпертрофованої частини ясен</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">207</p>
                            <p class="country">Видалення рухливої стінки зуба при вертикальному розколі</p>
                            <p class="visit">600 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">208</p>
                            <p class="country">Розкриття пародонтального абсцесу </p>
                            <p class="visit">800 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">209</p>
                            <p class="country">Вибіркове пришліфовка</p>
                            <p class="visit">300 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial"></p>
                            <p class="country">Зняття зубних відкладень ультразвуком, професійна чистка зубів,
                                рекомендації профілактичних заходів</p>
                            <p class="visit"></p>
                        </li>
                        <li class="table-head">
                            <p class="serial">210</p>
                            <p class="country">І рівень, з одної щелепи</p>
                            <p class="visit">700 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">211</p>
                            <p class="country">ІІ рівень, з одної щелепи</p>
                            <p class="visit">800 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">212</p>
                            <p class="country">ІІІ рівень, з одної щелепи</p>
                            <p class="visit">900 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">213</p>
                            <p class="country">4-6 зубів</p>
                            <p class="visit">800 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">214</p>
                            <p class="country">Один зуб</p>
                            <p class="visit">100 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">215</p>
                            <p class="country">Професійна чистка зубів абразивною пастою, одна щелепа</p>
                            <p class="visit">500 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">216</p>
                            <p class="country">Відбілювання зубів, 1 шприц Opalescence</p>
                            <p class="visit">3500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">217</p>
                            <p class="country">Внутрішньо канальне відбілювання, один сеанс</p>
                            <p class="visit">1000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">218</p>
                            <p class="country">Вектор - терапія дві щелепи, перший сеанс</p>
                            <p class="visit">5000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">219</p>
                            <p class="country">Вектор – терапія дві щелепи, другий сеанс</p>
                            <p class="visit">2500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">220</p>
                            <p class="country">Вектор – терапія одна щелепа, перший сеанс</p>
                            <p class="visit">2500 грн.</p>
                        </li>
                        <li class="table-head" style="background-color: #98FB98">
                            <p class="serial">221</p>
                            <p class="country">Вектор – терапія одна щелепа, другий сеанс</p>
                            <p class="visit">1700 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">222</p>
                            <p class="country">Вектор – терапія один сегмент, перший сеанс</p>
                            <p class="visit">2000 грн.</p>
                        </li>
                        <li class="table-head">
                            <p class="serial">223</p>
                            <p class="country">Вектор – терапія один сегмент, другий сеанс</p>
                            <p class="visit">1200 грн.</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}