{% extends '_layouts/base.html' %}
{% load static %}


{% block content %}
  {% include '_fragments/Banner Area End.html' %}
<section class="sample-text-area">
  <div class="container" >
    <h3 class="text-heading title_color">РЕНТГЕН В СТОМАТОЛОГІЇ : НАСКІЛЬКИ БЕЗПЕЧНО РОБИТИ ЗНІМКИ</h3>
      <p class="sample-text"><b>Рентген зубів</b> - поширена діагностична процедура в стоматологічній практиці. При створенні цифрових знімків дози випромінювання дуже малі, тому даний вид обстеження вважається максимально безпечним для пацієнта. Людина піддається приблизно того ж кількості радіації, що і при двогодинному перельоті в літаку. При дотриманні заходів безпеки причин для занепокоєння немає.</p>
      <p>Якщо ж у вас є певні захворювання, ви не впевнені, чи потрібно вам робити рентген зуба в стоматології, пропонуємо розширену інформацію, вивчення якої допоможе в прийнятті рішення.</p>
  </div>

  <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Кому потрібен стоматологічний рентген</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new1s.jpg' %}" alt="" class="img-fluid" style="height: 240px;">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Стоматологічна діагностика використовує рентгенівські знімки, щоб допомогти лікарям побачити проблеми, які складно помітити неозброєним оком. Використовуючи знімки, доктор може визначити:</p>
                        <div class="">
                            <ul class="unordered-list">
                                <li>проблемні області, в тому числі під пломбою;</li>
                                <li>правильність положення зубів мудрості;</li>
                                <li>втрату кісткової маси, пов'язану із захворюваннями ясен;</li>                       <ul>
                                <li>пухлини;</li>
                                <li>зміни в кореневому каналі;</li>
                                <li>абсцеси, які представляють собою інфекції в корені або між зубом і яснами;</li>
                                <li>складну анатомію кореневих каналів і коренів.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h3 class="mb-30 title_color">Типи рентгена зубів</h3>
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right">Без рентгенівського знімка багато з цих проблем можуть залишитися невиявленим. Також цифрові зображення допомагають при установці зубних імплантатів, протезів, брекетів і при інших процедурах.</p>
                        <p class="text-right">Стоматологи використовують багато різних типів рентгенівських променів в залежності від того, що вони намагаються побачити. Пропонуємо ознайомитися з чотирма найбільш поширеними видами.</p>
                        <p class="text-right">Стоматологи використовують багато різних типів рентгенівських променів в залежності від того, що вони намагаються побачити. Пропонуємо ознайомитися з чотирма найбільш поширеними видами.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new1.2.jpg' %}" alt="" class="img-fluid" style="height: 170px;">
                    </div>
                </div>
            </div>
            <div>
                <h3 class="mb-20 title_color">Прикусна рентгенографія</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Цей рентгенівський знімок використовується для огляду конкретної області рота. Стоматолог може запросити одне або кілька цифрових зображень при обстеженні. Кожне захоплює оголену (видиму) частина верхніх і нижніх зубів, а також половину їх коренів і підтримуючої кісткової структури. Прікусние рентгенівські знімки допомагають стоматологам виявити зміни в щелепної кістки, викликані захворюваннями ясен.</li>
                            <li>Якщо стоматолог має традиційний рентген-апарат для стоматології, вас попросять прикусити шматок пластика. Він утримує рентгенівську плівку у верхніх і нижніх зубів. Якщо застосовується цифрове обладнання, прикушують невелику коробочку, загорнуту в пластик.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">Прицільна рентгенографія</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Знімок захоплює весь зуб. Він показує всі - від коронки (жувальної поверхні) до кореня (нижче лінії ясен). Кожен прицільний рентген відображає невелику ділянку верхніх або нижніх зубів. Дані рентгенівські знімки часто використовуються для виявлення будь-яких незвичайних змін в корені і оточуючих кісткових структурах.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">Панорамний рентген</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Панорамні рентгенівські знімки використовуються для зйомки всієї області рота. Вони показують положення повністю сформованих, що ростуть і уражених зубів на одному зображенні.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">3D-рентгенографія</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Комп'ютерна томографія дозволяє побачити анатомічні особливості зубного ряду, коренів, каналів, ясен і щелепи. Її використовують при протезуванні, виконанні операцій і інших стоматологічних процедур, що вимагають наявності максимально чіткої картини. В результаті виходить серія знімків, з яких будується 3D-модель.</li>
                        </ul
                    </div> <br>
            </div>


            <div class="section-top-border">
                <h3 class="mb-30 title_color">Рентген зуба при вагітності</h3>
                    <p>Вагітним жінкам зазвичай рекомендується уникати знімків, щоб мінімізувати вплив будь-якої радіації на плід, що розвивається. Однак в деяких випадках майбутнім мамам необхідно виконувати рентген в стоматології. Якщо необхідна невідкладна стоматологічна допомога, ви перебуваєте в рамках планового лікування, тоді обговоріть це питання з лікарем. Вкрай важливо збалансувати стоматологічне і допологове здоров'я.</p>
            </div>
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Коли рентгенівські знімки зубів необхідні</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new1.3.jpg' %}" alt="" class="img-fluid" style="height: 230px;">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Рішення про необхідність рентгенівського обстеження приймає лікар. Фактори, які він враховує, можуть включати:</p>
                        <div class="">
                            <ul class="unordered-list">
                                <li>вік;</li>
                                <li>правильність положення зубів мудрості;</li>
                                <li>історію здоров'я порожнини рота;</li>
                                <li>різні фактори ризику;</li>
                                <li>наявну симптоматику.</li>
                            </ul>
                        </div>
                        <p>Щоб додатково знизити навантаження від рентгенівських променів, ви можете надати при зверненні в нову клініку знімки від попереднього стоматолога.</p>
                    </div>
                </div>
            </div>
        </div>

  <p>Дата: 24 лютого 2022</p>
  </div>
</section>

<style>
  .section-top text-center {
    text-align: center;
    display: block;
    width:
  }
</style>


{% endblock content %}