{% extends '_layouts/base.html' %}
{% load static %}


{% block content %}
  {% include '_fragments/Banner Area End.html' %}
<section class="sample-text-area">
  <div class="container" >
    <h3 class="text-heading title_color">Щорічно 9 лютого відзначається Міжнародний день стоматолога.</h3>
      <p class="sample-text">Сьогодні своє професійне свято відзначають люди з професією, яка для багатьох здається загадковою й навіть страшною, але, однозначно, не простою. Мова йде про стоматологів. Відвідувати їх потрібно всім, але не у кожного візит до стоматолога викликає позитивні емоції. Тим не менш, привітати 9 лютого знайомого стоматолога з професійним святом обов'язково варто. Для цього УНІАН підготував добірку найкращих привітань з Днем стоматолога у віршах, листівках і картинках.</p>
  </div>
    <br>
  <div class="container" >
    <h3 class="text-heading title_color">Міжнародний день стоматолога: історія свята</h3>
      <p class="sample-text">Прийнято вважати, що професійне свято стоматолога пов'язане зі святою Апололнією. Саме на честь неї - доньки олександрійського чиновника, яка була піддана репресіям за віру, почали святкувати День стоматолога. 9 лютого 249 року Аполонія в ході тортур попросила її розв'язати нібито для того, щоб стати на коліна, однак сама кинулася у вогонь. Після такого вчинку з'явилася легенда, що згадка імені Аполонії і молитва їй може допомогти при сильному зубному болі.</p>
      <br>
      <p>У 300 році її канонізували як святу мученицю.</p>
      <p>Попри те, що свято неофіційне, в Україні його відзначають вже майже три десятки років - з 1993 року.</p>
  </div>
    <br>
  <div class="container" >
    <h3 class="text-heading title_color">Альтернативний День стоматолога</h3>
      <p class="sample-text">Багато країн світу відзначають 6 березня Міжнародний день зубного лікаря або День дантиста (International Dentist Day). Це свято пов'язане з річницею винаходи в галузі стоматології - у 1790 році американський лікар Джон Грінвуд винайшов стоматологічний бор.</p>
      <br>
      <p>Спочатку це свято з'явилося в США, однак згодом набрав популярність за межами Америки.</p><br>
  </div>




  <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Міжнародний день стоматолога – привід згадати про те, у яких випадках не можна відкладати візит до цього лікаря. Це такі чинники:</p>
                        <div class="">
                            <ul class="unordered-list">
                                <li>їжа, котра часто утримується між зубами;</li>
                                <li>дискомфорт чи біль у роті або навколо нього;</li>
                                <li>труднощі під час кусання певних продуктів;</li>                       <ul>
                                <li>чутливість до гарячої, холодної або навіть солодкої їжі;</li>
                                <li>неприємний запах із рота;</li>
                                <li>білі, а потім темні плями на зубах;</li>
                                <li>червоні та набряклі ясна, що легко кривавлять, особливо коли чистите зуби чи між зубами.</li>
                            </ul>
                                <br>
                            <p>Але щоб цього уникнути, з метою профілактики, ось Вам <b>4 порад від МОЗ України:</b></p>

            <div>
                <h3 class="mb-20 title_color">1. Споживайте здорову їжу і менше цукру</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Вживання надмірної кількості доданого цукру є основним фактором ризику. Для дорослих норма цукру — не більше 50 грамів на день, для дітей — три.</li>
                            <li>Пийте воду замість солодких напоїв, адже вони шкідливі не тільки для ротової порожнини, але й збільшують ризик виникнення діабету, зайвої ваги, а також функціональних порушень шлунково-кишкового тракту.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">2. Турбуйтеся про гігієну ротової порожнини</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Недостатній догляд за ротовою порожниною спричиняє карієс, гінгівіт, пародонтоз. Тому необхідно чистити зуби зубною пастою упродовж двох хвилин двічі на день.</li>
                            <li>Додатково полощіть рот рідиною із фтором або жуйте гумку без цукру після їжі й перекусів. </li>
                            <li>Використовуйте індивідуальну зубну щітку та не забувайте замінювати її раз на три місяці. Щонайменше раз на день користуйтеся зубною ниткою.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">3. Відмовтеся від цигарок і алкоголю</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Куріння – один із ворогів красивої усмішки. Ця згубна звичка підвищує ризик захворювання ясен і раку ротової порожнини, а також змінює колір зубів, зумовлює неприємний запах із рота, передчасне випадіння зубів, втрату смаку та нюху.</li>
                            <li>Вживання алкоголю підвищує ризики появи раку ротової порожнини, гортані, горла та стравоходу. Також є ризик травм обличчя та зубів через падіння, дорожньо-транспортні пригоди й конфліктні ситуації, внаслідок споживання алкоголю. Крім того, в алкогольних напоях високий вміст цукру, що сприяє розвитку карієсу.</li>
                        </ul
                    </div> <br>
                <h3 class="mb-20 title_color">4. Регулярне проходження профілактичних медичних оглядів у стоматолога</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Профілактика — найкращий спосіб уникнути проблем зі здоров’ям порожнини рота. Відвідуйте спеціаліста раз на 6 місяців.</li>
                            <li>Регулярні огляди в стоматолога ((дітям – від появи першого зубу кожні 3 місяці, а дорослим – щонайменше раз на пів року) гарантують, що такі проблеми, як карієс, гінгівіт і пародонтит, можна діагностувати якомога раніше.</li>
                        </ul
                    </div> <br>
            </div>
        </div>

  <p>Бережіть здоров’я власних зубів! <b>P. S. Enigma-Dent</b></p>
  </div>
</section>

<style>
  .section-top text-center {
    text-align: center;
    display: block;
    width:
  }
</style>


{% endblock content %}