{% extends '_layouts/base.html' %}
{% load static %}


{% block content %}
  {% include '_fragments/Banner Area End.html' %}
<section class="sample-text-area">
  <div class="container" >
    <h3 class="text-heading title_color">Болить зуб: причини, лікування вдома, коли звертатися до лікаря</h3>
      <p class="sample-text"><b>Зубний біль</b> - - дуже неприємний симптом, який вимагає якнайшвидшого лікування.</p>
      <p>Кожен, хто стикався із зубним болем, знає - цей вид болю один з найбільш болісних і неприємних. Зубний біль може варіюватися від легкого до дуже важкого.</p>
      <p>При виникненні будь зубного болю не можна відкладати похід до лікаря, оскільки можуть розвинутися ускладнення. Однак під час очікування візиту до стоматолога можна трохи полегшити зубний біль.</p>
  </div>
  <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Причини болю в зубі</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new3.1.jpg' %}" alt="" class="img-fluid" style="height: 195px;">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <p>Зуб може хворіти з різних причин. Визначити їх може лікар.</p>
                        <div class="">
                            <ul class="unordered-list">
                                <li>Запущений <b>карієс.</b> При карієсі руйнується емаль зуба</li>
                                <li>Сильний пульсуючий зубний біль може бути симптомом <b>пульпіту.</b> Зуб болить сильніше при впливі гарячої та холодної їжі.</li>
                                <li>Стійкий постійний ниючий біль може свідчити про <b>періодонтит</b> (запалення зуба біля коріння).</li>                       <ul>
                                <li>Біль в зубі <b>після пломбування</b> або інших операцій над зубом - це нормально. Він має пройти через кілька днів. Якщо біль не проходить тиждень і більше - зверніться до лікаря.</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div>
                        <h3 class="text-heading title_color">Біль в зубі: що робити</h3>
                        <p class="sample-text">При виникненні будь-якого, навіть не сильного болю, потрібно відразу записуватися до стоматолога. Відсутність лікування призводить до ускладнень. Може початися руйнування зуба, зараження сусідніх зубів, інфекція ясен, потрапляння інфекції в горло або ніс, що може привести до видалення зуба.</p>
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h3 class="mb-30 title_color">Як зняти зубний біль вдома</h3>
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right">До візиту до стоматолога можна полегшити свій стан і прийняти знеболюючу таблетку. Пам'ятайте, що знеболювання зуба не лікує його і не прибирає причину болю. Можна на кілька секунд прикласти до хворого місце кубик льоду. Таблетки допоможуть зменшити біль на кілька годин в очікуванні лікування у стоматолога. Приймати ліки варто згідно з інструкцією. </p>
                        <p class="text-right"></p>
                        <p><b>Анальгін</b> - можна прийняти при слабкому болю.</p>
                        <p><b>Кетанов</b> - при ниючому і тривалому зубному болю.</p>
                        <p><b>Німесулід</b> - при інтенсивному болю в зубі.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new3.2.jpg' %}" alt="" class="img-fluid" style="height: 215px;">
                    </div>
                </div>
            </div>


            <div class="section-top-border">
                <h3 class="mb-30 title_color">Народні засоби при болю в зубі</h3>
                    <p>Для зняття болю можна використовувати трав'яні полоскання: з ромашкою, шавлією, корою дуба, календулою. Вода повинна бути ледь теплою.</p>
                    <p>Також при болю в зубі можна використовувати розчин солі та соди: по половині чайної ложки на склянку теплої води. Полощіть розчином хворий зуб у міру виникнення болю.</p>
            </div>
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Що не можна робити при болю в зубі</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/elements/new3.3.jpg' %}" alt="" class="img-fluid" style="height: 180px;">
                    </div>
                    <div class="col-md-9 mt-sm-20 left-align-p">
                        <div class="">
                            <ul class="unordered-list">
                                <li>При виникненні зубного болю не можна затягувати з візитом до лікаря.</li>
                                <li>Не можна прикладати гарячі компреси, приймати гарячу їжу - це може ускладнити запалення.</li>
                                <li>Заборонено колоти собі знеболюючі ін'єкції.</li>
                                <li>Не можна прикладати до зуба товчений анальгін - він руйнує зуб.</li>
                                <li>Ні в якому разі не можна приймати антибіотики без призначення лікаря.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <p>Дата: 01 січня 2024</p>
        </div>


  </div>
</section>

<style>
  .section-top text-center {
    text-align: center;
    display: block;
    width:
  }
</style>


{% endblock content %}